<!DOCTYPE html>
<html lang="en">
<head>
    <title>Random Website</title>
</head>
<body>
    Hello, Random Internet User!
    <br />
    Unless you are specifically told by me that you can, please do not use this website.
    <br />
    This is a homemade website for specific users.
    <br />
    It has a few optimisation issues and I would really appreciate if you did not try to break this website.
    <br /> <br />
    Hopefully, this website will serve it's purpose and the users I mentioned above will be happy.
    <br />
    Remember, every time you break a website a cat or dog gets upset.
    <br />
    Do you really want to be the cause of a sad animal?
    <br />
    <br />
    Here is a consolation cat picture:
    <br />
    <img src="http://i.imgur.com/LUu3q1f.jpg" width="300" height="300">
    <br />
    Regards,
    <br />
    Random Internet Developer
</body>
